body
{
    overflow: scroll;
    overflow-x:hidden;
}
.page-1{
    background-color: black;
    position: relative;
    height:120%;
    width:100%;


}
.container-fluid{
    overflow-x: hidden;
    width:100%;
    height:120%;

}
.avatar
{
    vertical-align: middle;
    border-radius: 50%;
    width:75px;
    height:75px;
    margin-left:-1vw;
}
.navbar-nav
{
    font-size:25px;
    padding:2px;
    margin-left:48vw;
}
.nav-item a
{
    font-size:25px;
    padding:1.5rem !important;
    font-family:'Livvic',sans-serif;
}
.btn-style
{
    border:2px solid #F2F4F4;
    height:50px;
    width:230px;
    text-align:center;
    font-size:20px;
    cursor: pointer;
    margin-left:10px;
    margin-bottom:25px;
}
.btn-style:hover
{
    color:#3fe4d0;
}
#downloads
{
    text-decoration:none;
    color:white;
}
.icon-pos{
    text-align:center;
    margin-top:140px;
}
.icons{
    font-size:40px; 
    color:white;
    cursor: pointer;
}
.icons:hover{
    color:#3fe4d0;
}


/*page -2*/

.about{
    color:#3fe4d0;
    text-decoration: underline;
    size:20px;
    padding-left:20px;
}
.my-text{
    padding-left:20px;
}
.myself{
    color:#3fe4d0;
    text-decoration: none;
}
.profile-head{
    color:#3fe4d0;
    text-decoration: none;
}
.profile{
    position: relative;
    left:60%;
    top:-52%;
}
/*page-3*/
@media only screen and (max-width:600px){
    .profile{
        left:0px;
        top:30px;;
        padding-left:30px;
    }
}
@media only screen and (min-width:600px){
    .profile{
        position: relative;
        top:-67vh;
    }
}
@media only screen and (min-width:768px){
    .profile{
        position: relative;
        top:-54vh;
    }
}
@media only screen and (min-width:992px){
    .profile{
        top:-24vw;
    }
}@media only screen and (min-width:1200px){
    .profile{
        top:-13vw;
    }
    .myself{
        padding-left:370px;
    }
    .my-text{
        position: relative;
        left:350px;
    }
}